:root {
  --primary: #0c88ef;
  --dark: #24292e;
  --dark-2: rgb(47, 54, 61);
  --light: #f6f8fa;
  --light-2: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.dark-mode {
  --dark: #f6f8fa;
  --light: #24292e;
  --dark-2: #fff;
  --light-2: #2f363d;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 7%;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
  transition: .3s;
}

.navbar .logo {
  width: 5rem;
  cursor: cell;
  filter: drop-shadow(2px 2px 0px rgb(47, 54, 61));
}


.navbar .navbar-link {
  width: 40%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}


.navbar .navbar-link li a {
  color: var(--dark);
  text-shadow: 1px 1px var(--light);
  text-transform: capitalize;
}

.navbar .navbar-link li a:hover {
  color: var(--primary);
}

.navbar .navbar-link li a:hover::after {
  content: '';
  display: block;
  border-bottom: 2px solid var(--primary);
  width: 70%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
}

nav .navbar-contain .theme {
  color: var(--dark);
  cursor: pointer !important;
}

/* burger */
nav .burger {
  display: none;
}

.burger {
  position: relative;
  width: 30px;
  height: 23px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--dark);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}


.burger input:checked~span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 2px;
}

.burger input:checked~span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 21.6px;
  left: 2px;
}

/* hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url('img/main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 7%;
  position: relative;
}

.hero::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 101%;
  background: linear-gradient(0deg, var(--light) 1%, rgba(36, 41, 46, 0.1) 30%);
}

.hero .judul {
  width: 100%;
  display: flex;
}

.hero .judul h3 {
  font-size: 4rem;
  padding: 0 1rem;
  letter-spacing: 0.3rem;
  color: #24292e;
  z-index: 2;
}

.hero .judul span {
  width: 100%;
  height: 4px;
  background-color: #24292e;
  margin: auto;
  z-index: 2;
}

.hero p {
  font-size: 1.5rem;
  text-align: center;
  color: #24292e;
  z-index: 2;
}

/* about */

.about,
.services {
  min-height: 100vh;
  padding: 8rem 7% 0;
  background: var(--light);
}

.about h3,
.services h3 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 2rem;
  color: var(--dark);
  text-transform: capitalize;
}

.about .row {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.about .row .col {
  width: 50%;
  margin: auto;
}

.about .row .col.kiri img {
  width: 100%;
  transition: .3s;
  cursor: all-scroll;
  transition: .3s all ease;
}

.about .row .col.kiri img:hover {
  filter: drop-shadow(5px 5px 15px var(--dark));
}

.about .row .col.kanan h4 {
  width: 100%;
  font-size: 1.9rem;
  letter-spacing: 2rem;
  margin: auto;
  text-transform: capitalize;
  color: var(--dark);
}

.about .row .col.kanan p {
  color: var(--dark-2);
}

/* services */
.services {
  padding-bottom: 5rem;
}

.services .cards {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
}

.services .cards .card {
  width: 30%;
}

.services .cards .card img {
  width: 100%;
  border-radius: 0.2rem;
  transition: .3s;
  cursor: move;
  transition: .3s all ease;
}

.services .cards .card img:hover {
  filter: drop-shadow(4px 4px 15px var(--dark));
}

.services .cards .card h4 {
  color: var(--dark);
}

.services .cards .card p {
  color: var(--dark-2);
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 1rem;
  background-color: var(--dark-2);
}

footer a,
footer p,
footer h4 {
  color: var(--light);
  text-transform: capitalize;
  text-align: center;
}

footer p:hover,
footer .links a:hover,
footer h4 a:hover {
  color: var(--primary);
}

footer .links a {
  display: inline-block;
  margin: 0.5rem 1rem;
  padding-top: 0.5rem;

}

footer .login a {
  display: inline-block;
  padding: 0.2rem 1rem;
  margin: 0.1rem;
  border: 1px solid var(--light);
  border-radius: 0.1rem;
  transition: .3s all ease;
}

footer .login a:hover {
  background: var(--light);
  color: var(--dark);
}

/* CSS Anda untuk tablet di sini */
@media (min-width: 481px) and (max-width: 768px) {
  .navbar .navbar-link {
    width: 50%;
  }

  .hero .judul h3 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 0.7rem;
  }

  .about .row .col.kanan h4 {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
  }

  .about .row .col.kanan p {
    font-size: 0.8rem;
  }

}

/* CSS Anda untuk smartphone di sini */
@media (max-width: 480px) {
  .navbar .logo {
    width: 3.4rem;
  }

  .navbar .navbar-link li a:hover::after {
    content: '';
    margin-bottom: -7px;
  }

  nav .burger {
    display: inline-block;
  }

  nav ul {
    position: absolute;
    right: -100%;
    top: 0;
    display: inline-block !important;
    padding: 2rem 13rem 0 0;
    min-height: 100vh;
    width: 100%;
    background-color: var(--light);
    box-shadow: 0 -5px 5px var(--dark-2);
    transition: all 0.8s ease;
    opacity: 0;
  }

  .show {
    opacity: 1;
    right: 0;
  }

  .navbar .navbar-link li {
    padding: 0 0 2rem 2rem;
  }

  .navbar .navbar-link li a {
    color: var(--dark);
  }

  nav .navbar-contain .theme {
    margin-right: 0.5rem;
  }

  .hero .judul h3 {
    font-size: 2rem;
    letter-spacing: 0;
  }

  .hero p {
    font-size: 0.7rem;
  }

  .about .row {
    flex-direction: column;
  }

  .about .row .col {
    width: 100%;
    text-align: center;
  }

  .about .row .col.kanan h4 {
    letter-spacing: 1rem;
  }

  .services .cards .card {
    width: 100% !important;
  }


}