:root {
  --primary: #0c88ef;
  --dark: #010101;
  --dark-2: rgba(1, 1, 1, 0.6);
  --light: #fff;
  --light-2: #ffffffa2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 7%;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
  transition: .3s;
}

.navbar .logo {
  width: 5rem;
  cursor: cell;
  filter: drop-shadow(2px 2px 0px var(--dark-2));
}


.navbar .navbar-link {
  display: flex;
  width: 40%;
  list-style: none;
  justify-content: space-between;
}

.navbar .navbar-link li a {
  color: var(--dark);
  text-shadow: 1px 1px var(--light);
  text-transform: capitalize;
}

.navbar .navbar-link li a:hover {
  color: var(--primary);
}

.navbar .navbar-link li a:hover::after {
  content: '';
  display: block;
  border-bottom: 2px solid var(--primary);
  width: 70%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
}


/* burger */
nav .burger {
  display: none;
}

.burger {
  position: relative;
  width: 30px;
  height: 23px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--dark);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}


.burger input:checked~span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 2px;
}

.burger input:checked~span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 21.6px;
  left: 2px;
}

/* hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url('img/main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 7%;
}

.hero .judul {
  width: 100%;
  display: flex;
}

.hero .judul h3 {
  font-size: 4rem;
  padding: 0 1rem;
  letter-spacing: 0.3rem;
  color: var(--dark);
}

.hero .judul span {
  width: 100%;
  height: 4px;
  background-color: var(--dark);
  margin: auto;
}

.hero p {
  font-size: 1.5rem;
  text-align: center;
  color: var(--dark);
}

/* about */

.about,
.services {
  min-height: 100vh;
  padding: 8rem 7% 0;
  background: var(--light);
}

.about h3,
.services h3 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.about .row {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.about .row .col {
  width: 50%;
  margin: auto;
}

.about .row .col.kiri img {
  width: 100%;
  transition: .3s;
  cursor: all-scroll;
}

.about .row .col.kiri img:hover {
  filter: drop-shadow(5px 5px 15px var(--dark-2));
}

.about .row .col.kanan h4 {
  width: 100%;
  font-size: 1.9rem;
  letter-spacing: 2rem;
  margin: auto;
}

/* services */
.services .cards {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
}

.services .cards .card {
  width: 30%;
}

.services .cards .card img {
  width: 100%;
  border-radius: 0.2rem;
  transition: .3s;
  cursor: move;
}

.services .cards .card img:hover {
  filter: drop-shadow(4px 4px 15px var(--dark-2));
}

/* footer */
footer {
  min-height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
  margin-top: 5rem;
  background-color: var(--dark-2);
  color: var(--light);
}

footer .links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

footer .links p {
  cursor: no-drop;
}

footer a {
  color: var(--light);
}

footer a:hover,
footer .copyright:hover {
  color: var(--primary);
}

footer .copyright p {
  cursor: pointer;
  font-size: 1.5rem;
}

footer .login {
  display: flex;
  flex-direction: column;
  align-items: end;
  cursor: pointer;
}

/* CSS Anda untuk tablet di sini */
@media (min-width: 481px) and (max-width: 768px) {
  .navbar .navbar-link {
    width: 50%;
  }

  .hero .judul h3 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 0.7rem;
  }

  .about .row .col.kanan h4 {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
  }

  .about .row .col.kanan p {
    font-size: 0.8rem;
  }

}

/* CSS Anda untuk smartphone di sini */
@media (max-width: 480px) {
  .navbar .logo {
    width: 3.4rem;
  }

  .navbar .navbar-link li a:hover::after {
    content: '';
    margin-bottom: -7px;
  }

  nav .burger {
    display: inline;
  }

  nav ul {
    position: absolute;
    right: -100%;
    top: 0;
    display: inline-block !important;
    padding: 2rem 13rem 0 0;
    min-height: 100vh;
    width: 100%;
    background-color: var(--light);
    box-shadow: 0 -5px 5px var(--dark-2);
    transition: all 0.8s ease;
    opacity: 0;
  }

  .show {
    opacity: 1;
    right: 0;
  }

  .navbar .navbar-link li {
    padding: 0 0 2rem 2rem;
  }

  .navbar .navbar-link li a {
    color: var(--dark);
  }

  .hero .judul h3 {
    font-size: 2rem;
    letter-spacing: 0;
  }

  .hero p {
    font-size: 0.7rem;
  }

  .about .row {
    flex-direction: column;
  }

  .about .row .col {
    width: 100%;
    text-align: center;
  }

  .about .row .col.kanan h4 {
    letter-spacing: 1rem;
  }

  .services .cards .card {
    width: 100% !important;
  }

  footer {
    flex-direction: column;
    gap: 3rem;
  }

  footer .copyright p {
    font-size: 1.2rem;
  }

  footer .login {
    align-items: start;
  }

}