:root {
  --primary: #0d6efd;
  --bg-dark: #24292e;
  --bg-light: #f6f8fa;
  --light: #ffffff;
  --dark: #2f363d;
  --text: 1rem;
}

.dark {
  --bg-dark: #f6f8fa;
  --bg-light: #24292e;
  --light: #2f363d;
  --dark: #fff;
}

/* Webkit browsers (Chrome, Safari) */

::-webkit-scrollbar-thumb {
  background-color: rgba(1, 1, 1, 0.3);
  border-radius: 50rem;
  margin-bottom: 1rem;
}

::-webkit-scrollbar {
  max-height: .2rem;
  max-width: .4rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  transition: all .6s;
}

.container {
  display: flex;
  min-height: 100vh;
}

.navbar {
  background-color: var(--primary);
  min-height: 100vh;
  min-width: 20vw;
  padding: 1rem;
  position: sticky;
  top: 0;
  overflow-y: scroll;
}

.navbar .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
  color: #f6f8fa;
}

.navbar .profile p {
  color: #f6f8fa;
}

.navbar .header img {
  width: 4rem;
  filter: drop-shadow(1px 1px 3px #fff);
}

.navbar .header h1 {
  color: #eee;
  letter-spacing: 1px;
  font-weight: 600;
}

.links {
  display: flex;
  justify-content: space-around;
}

.links li a {
  color: #f6f8fa;
}

.navbar .nav-link li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar .nav-link li a {
  color: rgb(203, 203, 203);
  font-size: .8rem;
  width: 100%;
  text-transform: capitalize;
  margin-right: auto;
  transition: all .2s;
  letter-spacing: .3rem;
  display: inline-block;
  width: 100%;
  padding: .7rem .5rem;
}

.navbar .nav-link li a.active {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 10px #fff;
}

.navbar .nav-link li a:hover {
  background-color: #0a60e2;
  color: rgb(232, 232, 232);
  /* transform: scale(1.1); */
}

/* content */
.container .content {
  padding: 0 1rem 2rem;
  background-color: var(--light);
  min-width: 78vw;
}

header {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: .5rem;
  padding: .4rem 3%;
  border-bottom: 3px solid var(--bg-dark);
  color: var(--dark);
}

header img {
  display: inline;
  height: 2.9rem;
  width: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
  width: 3rem;
}

header #toggleNavbar {
  font-size: 1.6rem;
  display: none;
  color: var(--dark);
  z-index: 3;
}

.container .content .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .content .header h1 {
  font-size: 2rem;
  color: var(--dark);
}

.container .content .row {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}

.container .content .row .kiri {
  min-width: 29%;
}

.container .content .kanan {
  width: 69%;
}

.container .content .kanan .table {
  max-width: 100%;
  overflow-x: scroll;
  font-size: .8rem;
  padding-bottom: .2rem;
  margin-bottom: 1rem;
}

.container .content .kanan table {
  min-width: 70rem;
}

.container .content .kanan table tr th {
  color: var(--dark);
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-size: .7rem;
}

.container .content .kanan table td {
  color: var(--dark);
}

.container .content .kanan table td a {
  color: var(--primary);
}

.container .content .kanan .paginations {
  display: flex;
  gap: .3rem;
  overflow-x: scroll;
}

.container .content .kanan .paginations a {
  font-size: .8rem;
  border: 1px solid var(--bg-dark);
  padding: .3rem .7rem;
  color: var(--bg-dark);
  transition: all .3s;
}

.container .content .kanan .paginations a.disabled {
  cursor: not-allowed;
  opacity: 0.2;
}

.container .content .kanan .paginations a:hover {
  color: var(--light);
  background-color: var(--bg-dark);
}

.container .content .kanan .paginations a.active {
  background-color: #0d6efd;
  border: 1px solid #0953c3;
  color: #fff;
}

.container .content .kanan .paginations a.active:hover {
  background-color: #0953c3;
  /* color: #fff; */
}

/* utiliti */

/* modalUbah */
.modal {
  position: fixed;
  background: var(--bg-light);
  top: 10%;
  left: 30%;
  right: 30%;
  padding: 1rem 2rem;
  display: none;
  box-shadow: 5px 5px 20px #2f363d;
  border-radius: .1rem;
  z-index: 2;
}

.modal .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.modal .profile .deskripsi {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.modal .profile .deskripsi .label p,
.modal .profile .deskripsi .data p {
  color: var(--dark);
}

.modal .profile img {
  max-width: 10rem;
  min-height: 10rem;
  border-radius: 50%;
  margin: auto;
}

.modal .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  border-bottom: 2px solid var(--bg-dark);
  padding: 2.5rem 0;
}

.modal .modal-header h3 {
  font-size: 2rem;
  color: var(--bg-dark);
}

.modal .modal-header i {
  font-size: 2rem;
  color: var(--bg-dark);
  cursor: pointer;
}

.modal .modal-body {
  padding: 1rem 0;
  border-bottom: 2px solid var(--bg-light);
}

.modal-footer {
  display: flex;
  justify-content: end;
  gap: .3rem;
  padding-top: 1rem;
}

form .form-input,
form .form-select {
  margin-bottom: .3rem;
  background: none;
  width: 100%;
  height: 2rem;
  border-radius: .3rem;
  border: 1px solid var(--dark);
  padding: 0rem .8rem;
  color: var(--bg-dark);
  outline: none;
}

form .form-select {
  color: var(--dark);
  background-color: var(--light);
}

.tombol {
  background-color: #198754;
  height: 2rem;
  color: #f6f8fa;
  padding: 0 1rem;
  border: none;
  border-radius: .3rem;
  cursor: pointer;
  transition: .1s;
}

.tombol.merah {
  background-color: #dc3545;
}

.tombol.secondary {
  background-color: #7b7b7b;
}

.tombol:hover {
  background-color: var(--primary);
}


/* medis queri */

@media (max-width: 992px) {
  /* * {
    font-size: 20%;
  } */
}

/* tablet */
@media (max-width: 768px) {

  .navbar {
    position: absolute;
    top: 0;
    left: -100%;
    min-width: 18rem;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
  }

  .navbar .nav-link li {
    padding: .2rem .4rem;
  }

  .navbar .nav-link li a {
    font-size: .6rem;
    padding: .2rem .2rem;
  }

  .navbar.show {
    left: 0;
    opacity: 1;
  }

  header #toggleNavbar {
    display: inline;
  }

  .container .content .kanan .table table {
    width: 50rem;
  }

  /* .container .content .header, */
  .container .content .row {
    flex-direction: column-reverse;
    gap: 0.9rem;
  }

  .container .content .row .kanan,
  .container .content .row .kiri {
    width: 100%;
  }

  .modal {
    left: 10%;
    right: 10%;
  }

  .modal .modal-header h3,
  .modal .modal-header i {
    font-size: 2rem;
  }
}

@media (max-width: 575.98px) {
  .container .content .header h1 {
    font-size: 2rem;
  }

  .container .content .header {
    display: block;
    margin-bottom: 0;
  }

  .container .content .kanan .table table {
    min-width: 30rem;
  }

  .modal .modal-header h3,
  .modal .modal-header i {
    font-size: 1.5rem;
  }

  .modal .profile {
    font-size: .6rem;
  }
}